body {
    margin: 0;
}

.container {
    display: grid;
    justify-content: center;
    background-color: orchid;
    height: 100vh;
}

#textareaa {
    width: 50vw;
    font-size: 1.5rem;
    margin-bottom: 50px;
    background-color: azure;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

#btn {
    padding: 1rem;
    background-color: blueviolet;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
    width: 10rem;
    margin-bottom: 25px;
}

#btn:hover {
    background-color: blueviolet;
    box-shadow: 0 0 1rem black ;
}

#voice {
    background-color: azure;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s; 
    height: 50px;
}