* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #628ECB;
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator {
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0 0 15rem black;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #395886;
    z-index: 100;
}

input {
    width: 430px;
    height: 100px;
    padding: 24px;
    margin: 10px;
    box-shadow: inset 0px 0px 8px rgba(0,0,0,0.4);
    font-size: 3.8rem;
    text-align: right;
    background-color: silver;
    border: solid 2px rgba(0,0,0,0.3);
    border-radius: 25px; 
}

input::placeholder {
    color: #000;
    font-style: digit;
}

button {
    width: 75px;
    height: 75px;
    background-color: #628ECB;
    color: #D5DEEF;
    margin: 15px;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 20px white;
    transition: .5s;
}

button:hover {
    background-color: #B1C9EF;
    color: #395886;
    box-shadow: 0 0 30px white;
}

.clr .delete {
    font-size: 20px;
}

.eql{
    background: #F0F3FA;
}

.operator{
    color: #1f242d;
}